@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    background: #0A0A0A;
}

.inter{
    font-family: "Inter", sans-serif;
}

.bebas{
    font-family: "Bebas Neue", sans-serif;
}

.manrope{
    font-family: "Manrope", sans-serif;
}